{% extends "base.html" %}
{% block content %}
<div>
    <h1>ADMIN CONTROL PANEL</h1>
    <p style="text-align: center; color: var(--text-muted); margin-bottom: 30px;">Exploratory Data Analysis (EDA) & Game Metrics</p>

    <div class="admin-layout">
        <div class="sidebar">
            <button class="tab-btn active" data-target="view-age">1. Numerical Histogram</button>
            <button class="tab-btn" data-target="view-price">2. Age_required countplot</button>
            <button class="tab-btn" data-target="view-reviews">3. Boxplot</button>
            <button class="tab-btn" data-target="view-genres">4. Categorical Barplot</button>
            <button class="tab-btn" data-target="view-scatter">5. Booline Countplot</button>
            <button class="tab-btn" data-target="view-free">6. Corrlation Matrix</button>
        </div>

        <div class="display-area">
            
            <div id="view-age" class="chart-view active">
                <h3 style="margin-bottom: 10px;">Numerical Histogram</h3>
                <img src="{{ url_for('static', filename='img/chart1_hist.png') }}" class="chart-img" alt="Age Requirements">
            </div>

            <div id="view-price" class="chart-view">
                <h3 style="margin-bottom: 10px;"> Age_required countplot</h3>
                <img src="{{ url_for('static', filename='img/chart2_age.png') }}" class="chart-img" alt="Price Distribution">
            </div>

            <div id="view-reviews" class="chart-view">
                <h3 style="margin-bottom: 10px;">Boxplot</h3>
                <img src="{{ url_for('static', filename='img/chart3_boxplot.png') }}" class="chart-img" alt="Top Reviews">
            </div>

            <div id="view-genres" class="chart-view">
                <h3 style="margin-bottom: 10px;">Categorical Barplot</h3>
                <img src="{{ url_for('static', filename='img/chart4_categ.png') }}" class="chart-img" alt="Top Genres">
            </div>

            <div id="view-scatter" class="chart-view">
                <h3 style="margin-bottom: 10px;">Booline Countplot</h3>
                <img src="{{ url_for('static', filename='img/chart5_bool.png') }}" class="chart-img" alt="Price vs Reviews">
            </div>

            <div id="view-free" class="chart-view">
                <h3 style="margin-bottom: 10px;">Corrlation Matrix</h3>
                <img src="{{ url_for('static', filename='img/chart6_corr.png') }}" class="chart-img" alt="Free vs Paid">
            </div>

        </div>
    </div>
</div>
{% endblock %}